.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #1d4ed8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
  margin: 2rem auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
