.bxs-star {
  font-size: 1.3rem;
  color: #f28c3c;
}

.rating {
  font-weight: 600;
}

.go-to-cart-btn {
  background-color: #fe7345;
  color: #fff;
  border: 2px solid #fe7345;
}

.go-to-cart-btn:hover {
  background-color: #e5653c;
}

.card-img-click {
  cursor: pointer;
}
